@model IEnumerable<TestService.Models.ProductsCategory>

@{
    ViewBag.Title = "Index";
}
<div class="inner-banner-cls">
    <div class="container">
        <h1>Products Categorie Entry</h1>
    </div>
</div>
<div class="container">
    <p class="text-right mt-3">
        @Html.ActionLink(" Create New", "Create","ProductsCategories",new {@class= "btn btn-info btn-sm fa fa-step-backward" })
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th class="bg-green">
                <i style="color:white">Category Name</i>
            </th>
            <th style="color:white" class="text-center bg-green">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryName)
                </td>
                <td>
                    <p class="text-center" >
                        @Html.ActionLink(" Edit", "Edit", new { id = item.ProductsCategoryId }, new { @class = " fa fa-edit btn btn-primary btn-sm mt-1" }) 
                        @Html.ActionLink(" Delete", "Delete", new { id = item.ProductsCategoryId }, new { @class = "btn btn-danger fa fa-trash  mt-1" })
                    </p>
                </td>
            </tr>
        }

    </table>
</div>
