
@{
    ViewBag.Title = "advertiseBenefits";
}

<div id="body">
    <section>
        @*<div class="inner-banner-cls">
            <div class="container">
                <h1>Benefits for Merchant</h1>
            </div>
        </div>*@

        <section class="bd-benfit-cls pd-50">
            <div class="container">

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="ben-pt-cls">
                            <figure>
                                <img src="~/images/ben-network.svg">
                            </figure>
                            <h2>Reseller & Network</h2>
                            <p>Every reseller has approximately 1000 existing customer that build roughly a network of 5 million customers.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="ben-pt-cls">
                            <figure>
                                <img src="~/images/customer-acquisition.svg">
                            </figure>
                            <h2>Customer Acquisition</h2>
                            <p>Enhances the reach of your business by increasing your customers.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="ben-pt-cls">
                            <figure>
                                <img src="~/images/protact.svg">
                            </figure>
                            <h2>Protection from Fraud</h2>
                            <p>With us fraud protection, protect your business.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="ben-pt-cls">
                            <figure>
                                <img src="~/images/Bangladesh_Political_Map.svg">
                            </figure>
                            <h2>Reach Pan- Bangladesh</h2>
                            <p>Expand your business and reach every corner of the nation. We provide our merchant with near about 30 thousands pin codes.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="ben-pt-cls">
                            <figure>
                                <img src="~/images/cart-pick.svg">
                            </figure>
                            <h2>Doorstep pick-up</h2>
                            <p>Your logistics would be picked directly from your door and delivered around the nation..</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="ben-pt-cls">
                            <figure>
                                <img src="~/images/fast-payment.svg">
                            </figure>
                            <h2>Fast Payment process</h2>
                            <p>Start and grow your business in us with fastest payment process.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="ben-pt-cls">
                            <figure>
                                <img src="~/images/ben-sales.svg">
                            </figure>
                            <h2>Sales Promoter</h2>
                            <p>Convert your viewers in your top most funnel into your loyal customer.</p>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="ben-pt-cls">
                            <figure>
                                <img src="~/images/speaker-add.svg">
                            </figure>
                            <h2>Advertisement</h2>
                            <p>Showcase your product on the best slot and become a seeker attention of millions of buyers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="training">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Trainning</h2>
                        <p>We provides seller training. We have improved our trading method to enhances the learning of our merchant.</p>

                        <h2>Webinars</h2>
                        <p>Maximum of our training our connected through webinars and it is conducted by subject expert on various domain.</p>

                        <h2>Study Material</h2>
                        <p>Online and copies of various modules are provided, for their extra information.</p>
                    </div>
                    <div class="col-md-6">
                        <img src="~/images/training.png" class="benifit-train" />
                    </div>
                </div>
            </div>
        </section>

        <section class="training analytics">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6 col-sm-6 tab-img-cls">
                        <img src="~/images/anaylatics.png" class="benifit-mer" />
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <h2>Benefits of Merchant </h2>
                        <p>Analytics Reports: Merchants can view entire activity of their product such as the source of user (the location of the viewers), their medium (tablet, mobile, or desktop) and maximum view on particular product. Merchants can easily analyze their purchase and transactions data. The merchants are allowed to view their average order value, ecommerce conversion rate, and all the important information that helps them in tracking their business. You can set the parameter of your product to track the visitors and even check their behaviour (time spend at your product)</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>

