
@{
    ViewBag.Title = "advertisePricing";
}

<div class="horizental-menubar  clearfix mobile-cat-menu">


    <div class="tab-pane active" id="mainmenu">

        <div class="user-panel clearfix">

            <div class="pull-right backtohome">

                <img src="~/images/close-icon.png" />
            </div>
        </div>


        <ul class="nav nav-pills nav-stacked nav-quirk">
            <li><a href="merchant/home.html"><img src="~/images/home11.png" />Home</a></li>
            <li><a href="advertise-pricing.html"><img src="~/images/price11.png" />Pricing</a></li>
            <li><a href="faq.html"><img src="~/images/faq11.png" />Faqs</a></li>
            <li><a href="advertise-benefits.html"><img src="~/images/bene11.png" />Benefits</a></li>
            <li><a href="merchant-login.html"><i class="fa fa-sign-in"></i><img src="~/images/login11.png" /> Login</a></li>
            <li> <a href="merchant-signup.html"><i class="fa fa-user-o"></i><img src="~/images/logout11.png" /> Register</a></li>

        </ul>
    </div>

</div>

<div class="software-panel-left hidden-lg mobile_responsive">
    <aside class="lter aside-md hidden-print">
        <div class="leftpnel">
            <div class="leftpanelinner" style="position: relative;">
                <!-- nav -->
                <div class="tab-pane active" id="mainmenu">
                    <ul class="nav nav-pills nav-stacked nav-quirk">
                        <li><a href="all-listing.html"><i class="fa fa-bullhorn"></i>Business Directory</a></li>
                        <li><a href="promos-and-advertisement.html"><i class="fa fa-bullhorn"></i>Promos & Advertisement</a></li>
                        <li><a href="merchant-signup.html"><i class="fa fa-shopping-cart"></i>Advertise & Sell</a></li>
                        <li><a href="referral-signup.html"><i class="fa fa-handshake-o"></i>Join as Referral</a></li>
                        <li><a href="merchant-login.html"><i class="fa fa-lock" aria-hidden="true"></i>Sign In / Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</div>

<div id="body">
    <section>

        <style>

            .tbl-price .table tr th {
                vertical-align: middle;
            }
        </style>
        @*<div class="inner-banner-cls">
            <div class="container">
                <h1>Pay the lowest at Shopping and earn the maximum.</h1>
            </div>
        </div>*@

        @*<div class="abt-price-cls">
            <div class="container">

                <h2 class="title">Pricing for Merchant</h2>

                <div class="content-header1">
                    <p>
                        Get fastest payments in e-commerce industry, you get
                        paid within 7 days from the date of your dispatch order.
                        The payment is carried on your performance tier. It’s 2 business
                        days for Gold Seller, 5 business days for Silver Sellers and
                        7 business days for Bronze sellers. The price of product
                        is decided by you and as per your successful orders; we
                        charge certain amount of fee.
                    </p>
                </div>
            </div>
        </div>*@

        <div class="pricing-stu-cls">
            <div class="container">

                <h2 class="title">Pricing Structure</h2>


                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="price-struc">

                            <figure><img src="~/images/222.png" /> </figure>
                            <h2>Settlement Amount</h2>
                            <p>The amount credited to your bank account within 7-15 business days of dispatch</p>
                        </div>

                        <div class="equal-sty-cls"><img src="~/images/equal.png" class="equal" /> </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="price-struc">

                            <figure> <img src="~/images/333.png" />  </figure>
                            <h2>Order Item Value</h2>
                            <p>Selling price and Shipping charge paid by customer and excludes discount offered by Seller</p>
                        </div>
                        <div class="equal-sty-cls"><img src="~/images/minus.png" class="equal minus" /> </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="price-struc">

                            <figure><img src="~/images/444.png" />   </figure>
                            <h2>Marketplace Fee</h2>
                            <p>Includes shipping fee, fixed fee and selling commission</p>
                        </div>
                        <div class="equal-sty-cls"><img src="~/images/minus.png" class="equal minus1" /> </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="price-struc">

                            <figure> <img src="~/images/111.png" />  </figure>
                            <h2>GST on Marketplace Fee</h2>
                            <p>(18% of Marketplace Fee)</p>
                        </div>

                    </div>

                </div>

            </div>
        </div>


        <div class="pricing-struc-cls">
            <div class="container">

                <h2 class="title">Marketplace Fee</h2>


                <div class="gst-price">

                    <div class="row">

                        <div class="col-sm-3">
                            <div class="market-place-fee">
                                <figure><img src="~/images/charges.svg"></figure>
                                <h2> Fixed Charge</h2>
                                <p> A small amount charged by shopping on all transaction</p>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="market-place-fee">
                                <figure><img src="~/images/delivery-fee.svg"></figure>
                                <h2>Delivery Fee</h2>
                                <p>Calculated on the basis of product weight and location of delivery</p>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="market-place-fee">
                                <figure><img src="~/images/commission-fee.svg"></figure>
                                <h2>Commission Fee</h2>
                                <p>Depends upon the category and sub category of order</p>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="market-place-fee">
                                <figure><img src="~/images/collection-fee.svg"></figure>
                                <h2>Collection Fee</h2>
                                <p>Payments are charged on every sale</p>
                            </div>
                        </div>

                    </div>



                </div>

            </div>
        </div>


        <div class="delivery-charges">
            <div class="container">

                <div class="row">

                    <div class="col-sm-12 col-md-5">
                        <figure> <img src="~/images/delivery_charges-img.png"></figure>

                    </div>

                    <div class="col-sm-12 col-md-7">
                        <div class="content-charges">
                            <h2>Delivery Charges</h2>
                            <p>To make sure that our customers get the best possible selling experience, we order delivery to all customers through our logistics associates and abstract the shipping charge from the selling price before making further payment to you. </p>
                            <p>Shipping fee is calculated on definite weight or volumetric weight, whichever is more. This is to account for items which are actually lightweight but take up a lot of shipping space.</p>

                            <p>
                                Calculation of Volumetric weight. <br />
                                <b>"Volumetric Weight (kg) = L*B*H (Length x Breadth x Height)/5000 where LBH are in cm"</b>
                            </p>
                            <p> Every newbie will be counted as a Bronze seller. On the basis of its performance metrics, the seller can move to other tier Silver or Gold during the quarterly refresh. </p>
                            <p>The below mention delivery rate for forward shipments is valid only for Bronze Sellers. There is 20% and 10% discount on the forward shipping fee for Gold and Silver Sellers respectively. </p>
                        </div>

                    </div>

                    <div class="col-sm-12 col-md-8 col-md-offset-2 tbl-price">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="line-height: 28px;">Weight slab</th>
                                        <th>Local (Intracity)<br> in Rs.</th>
                                        <th>North India (RS.)</th>
                                        <th>
                                            Metro (Rs.)<br>
                                        </th>
                                        <th>Rest of India Rs.<br> </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">0 to 250gms</th>
                                        <td>24</td>
                                        <td>36</td>
                                        <td>42</td>
                                        <td>54</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">Add/250gms</th>
                                        <td>12</td>
                                        <td>18</td>
                                        <td>22</td>
                                        <td>30</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">3kg & above</th>
                                        <td>15/ per kg</td>
                                        <td>24/ per kg</td>
                                        <td>36/ per kg</td>
                                        <td>48/ per kg</td>

                                    </tr>


                                </tbody>

                            </table>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>
</div>
<div class="clear"></div>

