
@{
    ViewBag.Title = "Index";
}
<div id="body">
    <section>
        @section styles{
            <style type="text/css">
                .sell .reg-shadow-container h1 {
                    padding-top: 24px;
                }

                .banner-bg {
                    height: 600px;
                }
            </style>
        }

        <section class="features-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Increase your Business with <br /><span>Topmost  E-commerce</span> </h2>

                    </div>
                    <div class="col col-xs-12">
                        <div class="features-grids">
                            <div class="grid">
                                <div class="icon">
                                    <figure>   <img src="../images/visitor.svg" /> </figure>
                                </div>
                                <h3>Reach 1 Lakh <span>customer</span></h3>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <figure> <img src="../images/payment-method.svg" /> </figure>
                                </div>
                                <h3>Quick Payment <span>Process</span></h3>
                            </div>
                            <div class="grid">
                                <div class="icon">
                                    <figure> <img src="../images/door-step.svg" /> </figure>
                                </div>
                                <h3>Dedicated Door Step <span>Services</span></h3>
                            </div>

                            <div class="grid">
                                <div class="icon">
                                    <figure>  <img src="../images/register-icon.svg" /> </figure>
                                </div>
                                <h3>5000 Register <span>Merchant</span></h3>
                            </div>

                            <div class="grid">
                                <div class="icon">
                                    <figure> <img src="../images/increasing.svg" /> </figure>
                                </div>
                                <h3>Increase your customer <span>Engagement</span></h3>
                            </div>



                        </div>
                    </div>
                </div>
            </div> 
    <!-- end container -->
        </section>

        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-6 document">
                    <img src="../images/document.jpg" />
                </div>
                <div class="col-md-6 document-require">
                    <h3>"Make Your Dream Business Live with Pikjets"</h3>
                    <p>Become a merchant even with single product and legal documents</p>
                    <ul>
                        <li>GSTIN ID</li>
                        <li>PAN Card</li>
                        <li>Bank Account</li>
                        <li>Just 1 Product</li>
                    </ul>
                    <div class="col-md-12 selling">
                        <a href="../merchant-signup.html">Start Selling</a>
                    </div>
                </div>
            </div>
        </div>

        <section id="design-process" class="section-design-process">
            <div class="container">
                <h2 class="title">Follow the step and start<br />  <span>your  business</span></h2>
                <ul class="procedure flex-responsive">
                    <li>
                        <svg class="process-line" viewBox="0 0 208 105" preserveAspectRatio="xMinYMin meet"><path stroke-width="1.5" d="M433,322.81q3.06,0,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M451,323.93c82.73,10.74,91.74,95.21,178,102.39" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M635,426.69q2.94,0.12,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path></svg>
                        <svg class="process-line" viewBox="0 0 208 105" preserveAspectRatio="xMinYMax meet"><path stroke-width="1.5" d="M433,322.81q3.06,0,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M451,323.93c82.73,10.74,91.74,95.21,178,102.39" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M635,426.69q2.94,0.12,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path></svg>
                        <div class="process-main">
                            <div class="process-icon">
                                <img src="../images/uploading.png" alt="">


                            </div>
                            <h3><span>01</span> Upload Your Product</h3>
                            <p>Listing your product is as easy as pie through our self-serve portal</p>
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Hassle free self-serve portal</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Multiple product uploading</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <svg class="process-line" viewBox="0 0 208 105" preserveAspectRatio="xMinYMin meet"><path stroke-width="1.5" d="M433,322.81q3.06,0,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M451,323.93c82.73,10.74,91.74,95.21,178,102.39" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M635,426.69q2.94,0.12,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path></svg>
                        <div class="process-main">
                            <div class="process-icon">
                                <img src="../images/shipment.png" alt="">


                            </div>
                            <h3><span>02 </span>Trade across India</h3>

                            <p>Increase your online sales by engaging more customers in your bucket</p>
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Analytics Support</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Simple Dashboard</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> High Visibility</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Advertising and promotion of Products</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <svg class="process-line" viewBox="0 0 208 105" preserveAspectRatio="xMinYMax meet"><path stroke-width="1.5" d="M433,322.81q3.06,0,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M451,323.93c82.73,10.74,91.74,95.21,178,102.39" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M635,426.69q2.94,0.12,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path></svg>
                        <div class="process-main">
                            <div class="process-icon">
                                <img src="../images/trading.png" alt="">
                            </div>
                            <h3><span>03 </span>Easy Shipment</h3>
                            <p>Get hassle free pick-up and dispatch of product across nation</p>
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Pick-up Service</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Pan-India delivery</li>

                            </ul>
                        </div>
                    </li>

                    <li>
                        <svg class="process-line" viewBox="0 0 208 105" preserveAspectRatio="xMinYMax meet"><path stroke-width="1.5" d="M433,322.81q3.06,0,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M451,323.93c82.73,10.74,91.74,95.21,178,102.39" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path><path stroke-width="1.5" d="M635,426.69q2.94,0.12,6,.12" transform="translate(-433.03 -322.31)" style="stroke-dashoffset: 1073.8px;"></path></svg>
                        <div class="process-main">
                            <div class="process-icon">
                                <img src="../images/earning.png" alt="">
                            </div>
                            <h3><span>04</span> Start Your Earning</h3>
                            <p>Get your payment within 7 days of your complete sales</p>
                            <ul>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Quick Payment Process</li>
                                <li><i class="fa fa-check" aria-hidden="true"></i> Fast and reliable </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </section>
</div>


